{% extends "layout.html" %}

<!-- customization -->

{% block title%}Contact Page{% endblock %}

{% block content %}
    <h1>Contact page</h1>
    <p class="important">Welcome to the contact.html page</p>


    {% with messages  = get_flashed_messages()%}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li> {{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    
{% endblock %}

{% block footer %}
    &copy; Copyright 2026 by <a href="https://www.google.com/?zx=1785681710289">Apna College</a>

{% endblock %}

